body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

header, footer {
    background-color: rgb(131, 207, 228);
}

.site-title {
    color: cadetblue;
}

