body {
    background-color: darkseagreen;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    position: absolute;
    width: 100%;
    top: 40%;
    text-align: center;
}

.container {
    background-color: rgb(192, 222, 192);
    position: relative;
    width: 80%;
    top: 0px;
    margin: 0 auto;
}

.container figure image {
    width: 100%;
}

nav ul {
    list-style-type: none;
    text-align: center;
    padding-bottom: 5px;
}

a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

nav li {
    display: inline-block;
    width: 250px;
    border-left: 1px solid black;
}

nav li:nth-child(1) {
    border-left: none;
}
