body {
    background-color: darkseagreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/* header with heading on top of image */
h1 {
    color: white;
    font-size: 3.5rem;
    position: absolute;
    width: 100%;
    top: 25%;
    text-align: center;
}

.container {
    background-color: rgb(192, 222, 192);
    position: relative;
    width: 80%;
    top: 0px;
    margin: 0 auto;
}

.top {
    width: 100%;
    
}

/* navigation bar of three links with two borders inbetween */
nav ul {
    list-style-type: none;
    text-align: center;
    padding-bottom: 5px;
}

a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

nav li {
    display: inline-block;
    text-align: center;
    font-size: 1.25rem;
    width: 300px;
    padding: 10px;
    border-left: 1px solid black;
}

nav li:nth-child(1) {
    border-left: none;
}

/* style the article with the first h2 bigger in size */
article, section {
    padding: 10px;
}

h2 {
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

article h2:nth-child(1) {
    font-size: 2rem;
}

/* profile image with text wrapped */
.profile {
    width: 25%;
    float: left;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

p {
    line-height: 1.25rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

/* list with dots inside the container */
article li {
    list-style-type: disc;
    list-style-position: inside;
}

/* form with a border and full width text boxes */
form {
    border: 1px solid black;
    padding: 15px 15px;
}

input, textarea {
    width: 100%;
    margin: 10px 0 15px 0;
}

h3 {
    font-size: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
}

.willingness input {
    width: 20px;
    margin: 0 0 20px 0;
}

button {
    text-transform: uppercase;
    background-color: rgb(192, 222, 192);
    border: 1px solid black;
    padding: 12px;
}

/* align footer to the right side of container */
footer {
    display: block;
    padding: 30px;
    text-align: right;
}