body {
    background-color: darkseagreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1 {
    color: white;
    position: absolute;
    width: 100%;
    top: 20%;
    text-align: center;
}

.container {
    background-color: rgb(192, 222, 192);
    position: relative;
    width: 80%;
    top: 0px;
    margin: 0 auto;
}

.top {
    width: 100%;
}

nav ul {
    list-style-type: none;
    text-align: center;
    padding-bottom: 5px;
}

a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

nav li {
    display: inline-block;
    width: 250px;
    border-left: 1px solid black;
}

nav li:nth-child(1) {
    border-left: none;
}

article, section {
    padding: 6px;
}

.profile {
    width: 25%;
    float: left;
}

article li {
    list-style-type: disc;
}

form {
    border: 1px solid black;
    padding: 12px;
}

input, textarea {
    width: 100%;
}

form div:nth-child(4) {
    display: inline;
}

button {
    text-transform: uppercase;
    background-color: rgb(192, 222, 192);
    border: 1px solid black;
    padding: 12px;
}

footer {
    display: block;
    padding: 20px;
    text-align: right;
}