body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

/* container no wider than 1200px */
.container {
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 13px; */
}

h1 {
    font-size: 4rem;
    font-weight: bold;
    line-height: 6rem;
    margin: 2.5rem 0 2.5rem 0;
}

h2 {
    font-size: 3rem;
    font-weight: bold;
    margin: 2rem 0 2rem 0;
}

h3 {
    font-size: 2rem;
    font-weight: bold;
    margin: 1.5rem 0 1.5rem 0;
}

p {
    font-size: 0.9rem;
    line-height: 1.4rem;
    margin-bottom: 1rem;
}

button {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    border: none;
    padding: 23px 30px 23px 30px;
}

button i {
    margin: 15px;
}

/* logo merge with home button for the same background colour
   nav bar flex vertically with bleeding background */
header {
    background-color: #222;
    padding: 13px;
}

.logo {
    background-color: #c78c06;
    height: 125px;
    padding-top: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav a {
    text-decoration: none;
    color: #c78c06;
    display: flex;
    justify-content: center;
    padding: 25px 0 25px 0;
}

header nav li:first-child {
    background-color: #c78c06;
    margin-top: 0;
}

header nav li:first-child a {
    color: #222;
}

header nav input{
    width: 95%;
    padding: 8px 0 8px 5px;
}

header nav i {
    color: #c78c06;
    padding: 9px;
    border: 1px solid #c78c06;
}

header form {
    display: flex;
    align-items: baseline;
}

/* image crop its width
   text & button contain in a box with transparency and float on the top of image */
.intro img {
    width: 100%;
}

.intro {
    position: relative;
}

.intro_text {
    color: white;
    background-color: #222;
    opacity: 0.7;
    padding: 13px;
    position: absolute;
    top: 10%;
    bottom: 10%;
}

.intro_text button {
    color: #222;
    background-color: #c78c06;
    opacity: 1;
}

/* image place before text with bleeding background */
.about {
    background-color: #ffe6ac;
    padding: 13px;
}

.about img {
    width: 100%;
}

/* blocks in background color and add margin in the bottom */
.services {
    padding: 13px;
}

.services img {
    width: 100%;
    margin: 0 0 10px 0;
}

.services button {
    color: white;
    background-color: #222;
}

.digital, .marketing, .video, .web, .print {
    background-color: #ffe6ac;
    padding: 13px;
    margin-bottom: 13px;
}

/* image adjust into full width of the container and crop its height 
   text & button float on the top of image */
.vision img {
    width: 100%;
    height: 50%;
}

.vision {
    position: relative;
}

.vision h2 {
    font-size: 2rem;
}

.vision_text {
    color: white;
    padding: 13px;
    position: absolute;
    top: 10%;
}

.vision_text button {
    color: white;
    background-color: #222;
    border: 1px solid #c78c06;
    opacity: 0.9;
}

/* blocks in background color and add margin in the bottom */
.team {
    padding: 13px;
}

.team img {
    width: 100%;
}

.team h3 {
    margin: 1.5rem 0 0.5rem 0;
}

.jd, .br {
    /* display: grid;
    grid-template-rows: 1fr 1fr; */
    background-color: #ffe6ac;
    padding: 13px;
    margin-bottom: 13px;
}

h4 {
    font-weight: bold;
    border-bottom: 2px solid #c78c06;
    padding-bottom: 0.25rem;
    margin-bottom: 1rem;
}

/* form in full width of the container */
input, textarea {
    width: 100%;
    padding: 4px;
    margin: 10px 0 10px 0;
}

.inquiry form button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #c78c06;
    background-color: #222;
    padding: 4px;
    margin-top: 10px;
}

/* table add border and adjust to full width of the container */
table {
    width: 100%;
}

table thead {
    background-color: #ffe6ac;
}

table th, td {
    border: 1px solid #222;
    padding: 20px;
}

/* map in full width of the container and adjust its height */
iframe {
    width: 100%;
    height: 400px;
    margin-bottom: 13px;
}

/* footer with smaller font size, margin on the top, and bleeding background */
footer {
    background-color: #222;
    color: #c78c06;
    padding: 13px;
}

footer p {
    font-size: 0.9rem;
    margin-top: 20px;
}

footer a {
    color: #c78c06;
}

/* @media screen and (min-width: 760px) {
    header .logo{
        display: flex;
        justify-content: space-between;
    }
} */